@model MvcStock.Models.Entity.TBLPRODUCTS
@{
    ViewBag.Title = "NewProductAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="PRODUCTNAME" />

        <label>Marka</label>
        <input type="text" class="form-control" name="BRAND" />

        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m=>m.TBLCATEGORIES.CATEGORYID,(List<SelectListItem>)ViewBag.category, new {@class="form-control"})

        <label>Fiyatı</label>
        <input type="number" class="form-control" name="PRICE" />

        <label>Stok Adedi</label>
        <input type="number" class="form-control" name="STOCK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

