@using MvcStock.Models.Entity
@using PagedList
@using PagedList.Mvc
@model List<TBLCUSTOMERS>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="customerList" class="table table-bordered">
    <thead>
        <tr>
            <th>MÜŞTERİ ID</th>
            <th>MÜŞTERİ ADI</th>
            <th>MÜŞTERİ SOYADI</th>
            <th>SİL</th>
            <th><a href="/Customer/NewCustomerAdd/" class="btn btn-primary">Yeni Müşteri Ekle</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cstmr in Model)
        {
            <tr>
                <th>@cstmr.CUSTOMERID</th>
                <td>@cstmr.CUSTOMERFİRSTNAME</td>
                <td>@cstmr.CUSTOMERLASTNAME</td>
                <td>@Html.ActionLink("SİL", "Delete", new { id = cstmr.CUSTOMERID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmeyi onaylıyor musunuz?')" })</td>
                <td><a href="/Customer/GetCustomer/@cstmr.CUSTOMERID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $(document).ready(function () {
        $('#customerList').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>




