@model MvcStock.Models.Entity.TBLCUSTOMERS
@{
    ViewBag.Title = "NewCustomerAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextAreaFor(m => m.CUSTOMERFİRSTNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CUSTOMERFİRSTNAME, "", new { @style = "color:red" })
        <br />
        <label>Müşteri Soyadı</label>
        @Html.TextAreaFor(m => m.CUSTOMERLASTNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CUSTOMERLASTNAME, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>

